# redirect the mandatory Electron downloads away from the dafault AWS-hosted CDN to a mirror that is fast and reachable
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
disturl=https://registry.npmmirror.com/-/binary/node/
